<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>260171774383-q5805lfld1n6g8bofusvrllkb47tim6l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.260171774383-q5805lfld1n6g8bofusvrllkb47tim6l</string>
	<key>API_KEY</key>
	<string>AIzaSyAGmjm-7Zyiz4wZMoIJKiGWdNziM4CQIEA</string>
	<key>GCM_SENDER_ID</key>
	<string>260171774383</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pard</string>
	<key>PROJECT_ID</key>
	<string>pard-bc478</string>
	<key>STORAGE_BUCKET</key>
	<string>pard-bc478.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:260171774383:ios:e48d69fc67be980134975a</string>
</dict>
</plist>